<!DOCTYPE html>
<html class=" ">
  {% include 'header.html' %}

  <body class="">
    {% include 'left.html' %}
    <main>
      {% include 'banner.html' %}
      <div class="container-fluid">
        <h1 class="bread-crumb">
          <strong>
            平台管理 / 添加默认服务
          </strong>
        </h1>
        <form class="form-horizontal" action="/" method="POST" data-action="notpjax" >
          <!-- <div class="form-group form-group-sm">
            <label class="col-xs-2 control-label">
              Target:
            </label>
            <div class="col-xs-8 form-inline">
              <input type="text" name="target" class="input form-control" placeholder="target" style="width:300px" />
              
            </div>
            </div> -->
            
          
          <div class="form-group form-group-sm">
            <label class="col-xs-2 control-label">
              module:
            </label>
            <div class="col-xs-8 form-inline">
              <input type="text" name="module_name" class="input form-control" placeholder="module_name" style="width:300px" />
              
            </div>
            </div>
          <div class="form-group form-group-sm">
            <label class="col-xs-2 control-label">
              port:
            </label>
            <div class="col-xs-8 form-inline">
              <input type="text" name="port" class="input form-control" placeholder="port" style="width:300px" />
              
            </div>
            </div>
          
          <div class="form-group form-group-sm">
            <div class="col-xs-offset-2 col-xs-8">
                <input type="button" onclick="add_default_service()" name="submit" value="Submit" class="bsubmit button button-raised button-primary button-pill" style="margin-left: 170px;" />
                
              
            </div>
          </div>
        </form>
      </div>
      <div class="container-fluid">
      <div class="form-horizontal" id="show_search_result" style="margin-top: 15px;">
        <p>请按以下操作才能进入客户端</p>
        <p>1、添加default service</p>
        <p>2、启动ServiceNode</p>
        <p>3、进入客户端</p>
      </div>
      </div>
    </main>

  </body>
  <script>
   function add_default_service() {
        var module_name=$("input[name='module_name']").val();
        var port=$("input[name='port']").val();
        $.ajax(
            {
                url: "/add-default-service"+"?module_name="+module_name+"&port="+port,
                success: function (result) {
                    //add li to ul
                    
                    //alert(result);
                    $("input[name='module_name']").val('');
                    $("input[name='port']").val('');
                    alert(result);
                },
                error:function () {
                    alert('ajax get_mods request error');
                }

            }
        )
    } 
  </script>

</html>