<aside>
    <div class="visible-xlg">
        <a class="navbar-brand" href="javascript:void(0)" title="Pocscan">
            <h2 style="color:#fff;font-family:sthupo;">vikit system</h2>
        </a>
        <ul class="navbar-aside">
            <li class="dropdown open">
                <a href="javascript:void(0);">
                    漏洞检测
                    <i class="icons-xs icons-arrow-right">
                    </i>
                </a>
                <ul class="dropdown-list">
                    <li>
                        <a href="/index"
                           data-nav-id="corp.taskconfig.add">
                            添加扫描
                        </a>
                    </li>
                    <li>
                        <a href="/crawler"
                           data-nav-id="corp.taskconfig.add">
                            爬虫扫描
                        </a>
                    </li>
                    <li>
                        <a href="/results">
                            扫描结果
                        </a>
                    </li>
                    <li>
                        <a href="/reqlist">
                            爬虫结果
                        </a>
                    </li>
                    <li>
                        <a href="/monitor">
                            扫描中的任务
                        </a>
                    </li>
                    
                    
                </ul>
            </li>
            <!-- <li class="dropdown open">
                <a href="javascript:void(0);">
                    平台管理
                    <i class="icons-xs icons-arrow-right">
                    </i>
                </a>
                <ul class="dropdown-list">
                    <li>
                        <a href="/AndDefaultService">
                            添加默认服务
                        </a>
                    </li>
                    
                    <li>
                        <a href="/service_node">
                            ServiceNode列表
                        </a>
                    </li>
                    <li>
                        <a href="/service">
                            service列表
                        </a>
                    </li>
                    <li>
                        <a href="/search">
                            查询
                        </a>
                    </li>
                    
                </ul>
            </li> -->
        </ul>
    </div>
</aside>