<style type="text/css">
.navbar-left{
  float: left;
}
.navbar-left>li{
  display: block;
  margin-top: 17px;
  font-size: 16px;
  margin-left:50px;
}
.switch{
  margin-top: 15px;
  margin-right: 20px;
}
</style>
<div class="navbar navbar-default navbar-static-top" role="navigation">
      <button  id="start" style="display: none;">start</button>
        <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
        <li id="time">加载中.......
        </li>
        </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
            <!-- <a href="javascript:void(0)" id="start" class="start_state" onclick="start()">
            
            <span class="fre_log">start</span>
            
              </a> -->
              <div class="switch " data-on="danger" data-off="success">
                <input type="checkbox" name="my-checkbox" id="start" checked>
              </div>
            </li>
            
            <li>
              <a href="javascript:void(0)" onclick="platform()">平台管理</a>
            </li>
          </ul>
        </div>
        
      </div>
<script type="text/javascript">
$("[name='my-checkbox']").bootstrapSwitch({
        onText:"start",  
        offText:"stop",  
        onColor:"success",  
        offColor:"danger",  
        size:"small",  
        onSwitchChange:function(event,state){ 
            if(state==true){  
                stop();
            }else{  
                start();
            }  
        }
});
/*$(".bootstrap-switch-label").click(function(e){
  //e.preventDefault();
  e.stopPropagation();
  alert(1);
  if($.cookie('state')=='online'){
    $("[name='my-checkbox']").bootstrapSwitch('state',false);
  }
  else{
    $("[name='my-checkbox']").bootstrapSwitch('state',true);
  }
  
});*/
/*document.body.addEventListener("click",function(e){
alert(e.target.className);
});*/
function stop(){
  $.ajax(
            {
                url: "{{ url_for('shutdown') }}",
                async:false,
                success: function (result) {
                    if(result == 'closed'){
                      console.log('stop success');
                        $.cookie('state','offline');
                        try{
                          window.clearInterval(interval1);
                        }
                        catch(e){
                          
                        }
                        try{
                          window.clearInterval(interval2);
                        }
                        catch(e){
                         
                        }
                    }
                },
                error:function (e) {
                    alert('ajax start request failed');
                    
                }

            }
        )
}
$(document).ready(function(){
        if($.cookie('state')==null){
            $.cookie('state','offline');
        }

        //use to handle refresh
        if($.cookie('state')=='online'){
          var switch_state=$("[name='my-checkbox']").bootstrapSwitch('state');
          if(switch_state){
            $("[name='my-checkbox']").click();
          }
          
            
        }
        showLeftTime();
     });
function start(){
      $.ajax(
            {
                url: "{{ url_for('start') }}",
                async:false,
                success: function (result) {
                    if(result == 'success'){
                      if($.cookie('state')=='offline'){
                        console.log('start success');
                        $.cookie('state','online');
                        try{
                          $("#scan-mode option[data='0']").text(" Loading.... ");
                          setTimeout("ajax_get_mods()", 1000);
                        }
                        catch(e){
                          
                        }
                      }
                    }
                },
                error:function (e) {
                    alert('ajax start request failed');
                }

            }
        )
  }
var initializationTime=(new Date()).getTime();
function showLeftTime()
{
  var now=new Date();
  var year=now.getFullYear();
  var month=now.getMonth()+1;
  var day=now.getDate();
  var hours=now.getHours();
  var minutes=now.getMinutes();
  var seconds=now.getSeconds();
  $("#time").text(""+year+"年"+month+"月"+day+"日 "+hours+":"+minutes+":"+seconds+"");
  var timeID=setTimeout(showLeftTime,1000);
}

function platform(){
  var protocol= window.location.protocol;
  var hostname=window.location.hostname;
  var url=protocol+'//'+hostname+':8081';
  window.location.href=url;
}
</script>