<div class="navbar navbar-default navbar-static-top" role="navigation">
      <button  id="start" style="display: none;">start</button>
        <div class="container-fluid">
          <ul class="nav navbar-nav navbar-right">
            <li>
            <a href="javascript:void(0)" id="start" class="start_state" onclick="start()">
            
            <span class="fre_log">start</span>
            
              </a>
            </li>
            
            <li>
              <a href="javascript:void(0)" onclick="platform()">平台管理</a>
            </li>
          </ul>
        </div>
        
      </div>
<script type="text/javascript">
$(document).ready(function(){
        if($.cookie('state')==null){
            $.cookie('state','offline');
        }

        //use to handle refresh
        if($.cookie('state')=='online'){
          start();
            
        }
     });
function start(){
  var state=$(".fre_log").text();
  
  if(state=='start'){
      $.ajax(
            {
                url: "{{ url_for('start') }}",
                async:false,
                success: function (result) {
                    if(result == 'success'){
                      if($.cookie('state')=='offline'){
                        alert('start success');
                        $.cookie('state','online');
                      }
                        
                        $(".fre_log").text('stop');
                        $("#start").removeClass("start_state");
                        //alert('start success');
                    }
                },
                error:function (e) {
                    alert('ajax start request failed');
                    alert(e);
                }

            }
        )
  }
  else{
    
    $.ajax(
            {
                url: "{{ url_for('shutdown') }}",
                async:false,
                success: function (result) {

                    if(result == 'closed'){
                        alert('stop success');
                        $(".fre_log").text('start');
                        $.cookie('state','offline');
                        $("#start").addClass("start_state");
                    }
                },
                error:function (e) {
                    alert('ajax start request failed');
                    
                }

            }
        )
  }
}

function platform(){
  var protocol= window.location.protocol;
  var hostname=window.location.hostname;
  var url=protocol+'//'+hostname+':8081';
  window.location.href=url;
}
</script>