<!DOCTYPE html>
<html class=" ">
  {% include 'header.html' %}
  <script src="{{ url_for('static', filename='js/tableCheckbox.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap-table.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-table.min.css') }}">
  <style type="text/css">
  #subbut{
    margin-left: 1%;
    margin-bottom:-10px;
    margin-right:40px;
  }
  .but_div{
    width: 100%;
    max-width: 100%;
    
  }
  #add_result{
    margin-top: 15px; 
    display: none;
    overflow-y:scroll;
    max-height: 150px;
  }
  </style>>
  <body class="">
    {% include 'left.html' %}
    <main>
      {% include 'banner.html' %}
      <div class="container-fluid">
        <h1 class="bread-crumb">
          <strong>
            平台管理 / 添加默认服务
          </strong>
        </h1>
  <form class="form-horizontal" action="/" method="POST" data-action="notpjax" >
    <div class="form-group form-group-sm">
            <div class="col-xs-offset-2 col-xs-8 but_div" style="margin-left: 0">
                <input type="button" onclick="submit_select()" name="submit" id="subbut" value="Submit" class="button button-primary button-rounded " />
                <span id="services_num"></span>
              
            </div>
          </div>       
  <table class="table" id="myTable">
    <thead>
      <th style="width:20px;" data-field="checkbox"><input type="checkbox"></th>
      <th data-field="module">module</th>
      <th data-field="port">port</th>
      <th data-field="state">state</th>
    </thead>
    <tbody id="modules">
      
    </tbody>
  </table>
  
          <!-- <div class="form-group form-group-sm">
            <div class="col-xs-offset-2 col-xs-8" style="width: 100%;max-width: 100%;margin-left:0">
                <input type="button" onclick="submit_select()" name="submit" value="Submit" class="bsubmit button button-raised button-primary button-pill" style="margin-left: 85%; margin-top: 15px;" />
                
              
            </div>
          </div> -->
        </form>
        
      <div class="form-horizontal" id="add_result" >
      
      </div>
      </div>
    </main>

  </body>
  <script>
  //$("#myTable").tableCheck("info");
var i;
var services=new Array();
var services_num;
var all_services_num=0;
var $table = $('#myTable');

            $table.bootstrapTable({
                toolbar: ".toolbar",

                
                pagination: true,
                striped: true,
                sortable: true,
                
                pageSize: 7,
                pageList: [7,15,"All"],
                
                
            });
  $(document).ready(function(){
    $table.bootstrapTable('removeAll');
    get_added_service_list();
    setTimeout(get_default_services_list(),100);
    $("#myTable").tableCheck("info");
    sernum();
});
function sernum(){
  $("#services_num").text('已添加module数量 '+services_num+' /总共module数量 '+all_services_num);

}
  function get_added_service_list(){
    $.ajax(
            {
                url: "{{ url_for('get_added_services_list') }}",
                async:false,
                success: function (result) {
                    var added_service=jQuery.parseJSON(result);
                    services_num=added_service.length;
                    for(i=0;i<services_num;i++){
                      services[i]=added_service[i];
                      
                    }
                },
                error:function () {
                    alert('ajax get_mods request error');
                }

            }
        )
  }
  function get_default_services_list(){
    $.ajax(
            {
                url: "{{ url_for('get_default_services_list') }}",
                async:false,
                success: function (result) {
                    show_modules_list(result);
                },
                error:function () {
                    alert('ajax get_mods request error');
                }

            }
        )
  }
  function show_modules_list(result){
    var module = jQuery.parseJSON(result);
    var num=module.length;
    all_services_num=num;
    var j=0;
    var k=0;
    var state=false;
    var module_name;
    var module_port;
    var spli;
    var tab_module;
    for(j=0;j<num;j++){
      state=false;
      spli=module[j].split(":");
      module_name=spli[0];
      module_port=spli[1];
      for(k=0;k<services_num;k++){
        index=$table.bootstrapTable('getData').length;
        if(module_name==services[k]){
          state=true;
        }
      }
      if(state){
        $table.bootstrapTable("insertRow",{
            index:index,
            row:{
                checkbox:'<input data1="'+module_name+'" data2="'+module_port+'" type="checkbox" disabled="disabled" >',
                module:module_name,
                port:module_port,
                state:'<font style="color:red">已添加</font>'  
            }
        });
      }
      else{
        
        $table.bootstrapTable("insertRow",{
            index:0,
            row:{
                checkbox:'<input data1="'+module_name+'" data2="'+module_port+'" type="checkbox" >',
                module:module_name,
                port:module_port,
                state:'<font style="color:green">未添加</font>'  
            }
        });
      }
      
    }
    $("#myTable").tableCheck("info");

  }
   function add_default_service(module_name,port) {
        /*var module_name=$("input[name='module_name']").val();
        var port=$("input[name='port']").val();*/
        $.ajax(
            {
                url: "/add-default-service"+"?module_name="+module_name+"&port="+port,
                success: function (result) {
                    //add li to ul
                    
                    //alert(result);
                    /*$("input[name='module_name']").val('');
                    $("input[name='port']").val('');
                    alert(result);*/
                    
                    if(result=="add success"){
                      $("#add_result").css("display","block");
                      var add_result='<p>已成功添加 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  module:'+module_name+'&nbsp;&nbsp;&nbsp;&nbsp;   port:'+port+'</p>';
                      $("#add_result").append(add_result);
                      services_num++;
                      sernum();
                    }
                },
                error:function () {
                    alert('ajax get_mods request error');
                }

            }
        )
    } 
    function submit_select(){
      if($.cookie('pstate')=='online'){
      $("#modules tr td").find("input[type='checkbox']:checked").each(function(){
        
          var module_name=$(this).attr("data1");
          var module_port=$(this).attr("data2");
          add_default_service(module_name,module_port);
          
          $(this).prop("checked",false);
          var index=$(this).parent("td").parent("tr").data('index');
          $table.bootstrapTable("updateRow",{
            index:index,
            row:{
                checkbox:'<input data1="'+module_name+'" data2="'+module_port+'" type="checkbox" disabled="disabled" >',
                state:'<font style="color:red">已添加</font>'  
            }
          });
          $("#myTable").tableCheck("info");
      });
        }
      else{
        alert("请先start!!!");
      }
    }
    $(document).on('click', '.pagination', function(){
        $("#myTable").tableCheck("info");
    });
    $(document).on('click', '#modules tr td', function(){
        var _tr = $(this).parents('tr');
      _tr.find(":checkbox").trigger("click");
    });
  

  </script>

</html>