      <style type="text/css">
      .user_alert{
    background-color:#fff;
    width: 100px;
    padding:3px;
    padding-left: 10px;
    position: absolute;
    float: right;
    display: none;
    right:4%;
    margin-top: -0.2%;
    border: 0.5px #eee solid;
    box-shadow: 1px 0 2px #333;
}
.user_alert a{
    color: #000;
    width: 100%;
    display: block;
    //margin-bottom: -10px;
}
.user_alert a:hover{
    background-color: #eee;
}
.navbar-left{
  float: left;
}
.navbar-left>li{
  display: block;
  margin-top: 17px;
  font-size: 16px;
  margin-left:50px;
}
.switch{
  margin-top: 15px;
  margin-right: 20px;
}

      </style>
      <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
        <li id="time">加载中.......
        </li>
        </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
            <div class="switch " data-on="danger" data-off="success" style="margin-top: 15px;margin-right: 20px;">
                <input type="checkbox" name="my-checkbox" id="start" checked>
              </div>
            </li>
            <li>
              <a href="javascript:void(0)" onclick="user_alert()">
                {% if username %}
            {{username}}
            {% else %}
            <span class="fre_log user">username</span>
            {% endif %}
              </a>
            </li>
            
            <li>
              <a href="javascript:void(0)" onclick="client()">
          
            <span>客户端</span>
            
              </a>
            </li>
          </ul>
        </div>
        <div class="user_alert" >
        <a href="/adduser" class="user_cls">添加用户</a>
        <a href="/deluser" class="user_cls" >删除用户</a>
        <a href="/changepwd" class="user_cls">修改密码</a>
        <a href="javascript:void(0)" class="user_cls" onclick="loginout()">退出登录</a>
      </div>
      </div>
      <script type="text/javascript">
$(document).ready(function(){
        if($.cookie('pstate')==null){
            $.cookie('pstate','offline');
        }

        //use to handle refresh
        if($.cookie('pstate')=='online'){
            var switch_state=$("[name='my-checkbox']").bootstrapSwitch('state');
            if(switch_state){
              $("[name='my-checkbox']").click();
            }
        }
     });
$("[name='my-checkbox']").bootstrapSwitch({
        onText:"start",  
        offText:"stop",  
        onColor:"success",  
        offColor:"danger",  
        size:"small",  
        onSwitchChange:function(event,state){  
            if(state==true){  
                $.ajax(
            {
                url: "{{ url_for('shutdown') }}",
                async:false,
                success: function (result) {

                    if(result == 'closed'){
                        alert('stop success');
                        $.cookie('state','offline');
                    }
                },
                error:function (e) {
                    alert('ajax start request failed');
                    
                }

            }
        )
            }else{  
                start();
            }  
        }
});
function start(){
      $.ajax(
            {
                url: "{{ url_for('start') }}",
                async:false,
                success: function (result) {
                    if(result == 'success'){
                      if($.cookie('pstate')=='offline'){
                        alert('start success');
                        $.cookie('pstate','online');
                      }
                        
                        
                        
                        //alert('start success');
                    }
                },
                error:function (e) {
                    alert('ajax start request failed');
                    alert(e);
                }

            }
        )
  }
function user_alert(){
    //$(".user_alert").show();
    if($(".user_alert").is(":hidden")){
    setTimeout('$(".user_alert").css("display","block");',100);
    }
}
function user(){
  alert("information");
}
function user_set(){
  alert("setting");
}
$(document).click(function(e){
    var clickclass = $(e.target).attr("class");
    if($(".user_alert").is(":visible")){
        if(clickclass!="user_div"&&clickclass!="user_cls"){
            $(".user_alert").hide();
        }
    }
});
$(document).ready(function(){
        if($.cookie('login_state')==null){
            $.cookie('login_state','off');
        }
        if($.cookie('username')==null){
            $.cookie('username','username');
        }
        var usr=$(".user").text();
        
        if(usr=='username'){
            $(".user").text($.cookie('username'));
        }
        showLeftTime();
        
     });
function loginout(){
  $.ajax(
            {
                url: "{{ url_for('shutdown') }}",
                async:false,
                success: function (result) {
                    if(result == 'success'){
                        //alert('start success');
                        
                        //alert('start success');
                    }
                },
                error:function (e) {
                    alert('ajax start request failed');
                    
                }

            }
        )
    $.cookie('login_state','off');

    window.location.href="/login";
}
var initializationTime=(new Date()).getTime();
function showLeftTime()
{
  var now=new Date();
  var year=now.getFullYear();
  var month=now.getMonth()+1;
  var day=now.getDate();
  var hours=now.getHours();
  var minutes=now.getMinutes();
  var seconds=now.getSeconds();
  $("#time").text(""+year+"年"+month+"月"+day+"日 "+hours+":"+minutes+":"+seconds+"");
  var timeID=setTimeout(showLeftTime,1000);
}
function client(){
  var protocol= window.location.protocol;
  var hostname=window.location.hostname;
  var url=protocol+'//'+hostname+':8080';
  window.location.href=url;
}
</script>