<aside>
    <div class="visible-xlg">
        <a class="navbar-brand" href="javascript:void(0)" title="Nstlscan System">
            <h3 style="color:#fff;font-family:'Trebuchet MS'">Nstlscan System</h3>
        </a>
        <ul class="navbar-aside">
            <li class="dropdown open">
                <a href="javascript:void(0);">
                    平台管理
                    <i class="icons-xs icons-arrow-right">
                    </i>
                </a>
                <ul class="dropdown-list">
                    <li>
                        <a href="/AndDefaultService">
                            添加默认服务
                        </a>
                    </li>
                    
                    <li>
                        <a href="/service_node">
                            ServiceNode列表
                        </a>
                    </li>
                    <li>
                        <a href="/service">
                            service列表
                        </a>
                    </li>
                    <li>
                        <a href="/search">
                            查询
                        </a>
                    </li>
                    
                </ul>
            </li>
        </ul>
    </div>
</aside>