
<!DOCTYPE html>
<html class=" ">
<head> </head>
<body class="">
{% include 'header.html' %}  {% include 'left.html' %}
<main>
    {% include 'banner.html' %}
    <div class="container-fluid">
        <h1 class="bread-crumb"> <strong>平台管理/ <a href="/service" style="color: #0099CC;">Service列表</a>/  {{name}}</strong></h1>
        
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Id</th>
                <th>Ip</th>
                <th>Service_Node_Id</th><!-- INDEX FROM_ID IP RAM_PERCENT CPU_PERCENT -->
            </tr>
            </thead>
            <tbody id="service_list">
                <!-- <tr>
                       <td>0021ca2178ce11e7ac9a000c29ef0054</td>
                       <td>Dakota Rice</td>
                       <td>172.168.1.1</td>
                       <td>Niger</td>
                       
                   </tr> -->
            </tbody>
            <tfoot>
            <tr>
                <td colspan="6">
                    <ul id="pagination-ddol" class="pagination-sm pull-right"></ul>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</main>
</body>
<script type="text/javascript">
var i;
var services=new Array();
var services_num;
var name='{{name}}';
$(document).ready(function(){
    $("#service_list").empty();
    get_available_services_info();

});
function ajax_get_service() {
        $.ajax(
            {
                url: "{{ url_for('get_available_services') }}",
                async:false,
                success: function (result) {
                    //add li to ul
                    
                    var service = jQuery.parseJSON(result);
                    services_num=service.length;
                    for(i=0;i<service.length;i++){
                        //get_service_info(service[i]);
                        services[i]=service[i];
                        
                    }
                },
                error:function () {
                    alert('ajax get_mods request error');
                }

            }
        )
    }
function get_available_services_info(){
        
        $.ajax(
            {
                url: "{{ url_for('get_available_services_info') }}",
                success: function (result) {
                    //add li to ul
                    show_service2(result);
                },
                error:function () {
                    alert('ajax get_mods request error');
                }

            }
        )
    }

function show_service2(result){
    var result2=result.replace('"','');
    var result3=result2.substr(0, result2.length - 1);
    var result4=result3.replace(/'/g,'"').replace(/u"/g,'"').replace("<ServiceInfo Desc:<ServiceDesc:","").replace("> LauncherInfo:<ServiceLaucherInfo config",', "LauncherInfo"').replace(/>/g,"").replace(/</g,"").replace(/ServiceInfo Desc:ServiceDesc: /g,'"').replace(/ LauncherInfo:ServiceLaucherInfo config:/g,',"LauncherInfo":').replace(/"{"/g,'{"');
    var str="["+result4+"]";
 var service = jQuery.parseJSON(str);
 console.log(service);
    ajax_get_service();
    
    for(i=0;i<services_num;i++){
        if(service[0][services[i]].service_info.NAME==name){
            $("#service_list").append('<tr><td>'+service[0][services[i]].service_info.NAME+'</td><td>'+services[i]+'</td><td>'+service[0][services[i]].ip+'</td><td>'+service[0][services[i]].service_node_id+'</td></tr>')
        }
    }
}
</script>
</html>



